<div class="card m-3">
  <div class="card-body">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col-12" *ngIf="Alteracao">
          {{this.Alteracao}}
        </div>
        <div class="form-group col-12">
          <label>Nome:</label>
          <input type="text" formControlName="Nome" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Nome.errors }" />
          <div *ngIf="submitted && f.Nome.errors" class="invalid-feedback">
            <div *ngIf="f.Nome.errors.required">O Nome é requerido</div>
          </div>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Salvar</button>
        <button class="btn btn-secondary" type="reset" (click)="onReset()">Limpar Campos</button>
      </div>
    </form>
  </div>
</div>



