<div *ngIf="animais">
  <app-AnimaisForm  class="FormClass" [Id] ="Id" [Editar] =true > </app-AnimaisForm>
</div>
<div *ngIf="atendentes">
  <app-AtendentesForm class="FormClass" [Id] ="Id" [Editar] =true ></app-AtendentesForm>
</div>
<div *ngIf="clientes">
  <app-ClientesForm  class="FormClass"[Id] ="Id" [Editar] =true ></app-ClientesForm>
</div>
<div *ngIf="enderecos">
  <app-EnderecosForm class="FormClass" [Id] ="Id" [Editar] =true ></app-EnderecosForm>
</div>
<div *ngIf="eventos">
  <app-EventosForm class="FormClass" [Id] ="Id" [Editar] =true ></app-EventosForm>
</div>
<div *ngIf="tipos">
  <app-TiposForm class="FormClass" [Id] ="Id" [Editar] =true ></app-TiposForm>
</div>
<div *ngIf="racas">
  <app-RacasForm class="FormClass" [Id] ="Id" [Editar] =true ></app-RacasForm>
</div>

